<p id="notice"><%= notice %></p>

<p>
  <b>Mac:</b>
  <%= @device.mac %>
</p>

<p>
  <b>Name:</b>
  <%= @device.name %>
</p>

<p>
  <b>Last seen:</b>
  <%= @device.last_seen %>
</p>


<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
